extends layout

block content
    div.text-center
        h1 GV Bots
        form(class="form-signin" method="POST" action="/users/login")
            #error
                if error
                    p.text-danger Error!!!

            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Please sign in

            //-input username
            label( for="username" class="sr-only") Username
            input(type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus)


            //-logIn button
            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
            button(class=buttonClass type="submit") Log in




            - var pClasses=['mt-5', 'mb-3', 'text-muted'];
            p(class=pClasses) &copy; 2019
