extends layout
block content
  div.text-center
    p Modifier le cerveau de John !
    p
      h2 Liste des cerveaux disponibles :
      .container
        br
        br
        br
        .row
          .col
            form(class="form-play" method="POST" action="/users/standardjohn")
              - var buttonClass=['btn', 'btn-warning', 'btn-block'];
              button(class=buttonClass type="submit") Standard
          .col
            form(class="form-play" method="POST" action="/users/improvedjohn")
              - var buttonClass=['btn', 'btn-warning', 'btn-block'];
              button(class=buttonClass type="submit") Amélioré
          .col
            form(class="form-play" method="POST" action="/users/premiumjohn")
              - var buttonClass=['btn', 'btn-warning', 'btn-block'];
              button(class=buttonClass type="submit") Premium
        br
        br
        br
        .row
          .col
            form(class="form-play" method="POST" action="/users/accueil")
              - var buttonClass=['btn', 'btn-primary', 'btn-block'];
              button(class=buttonClass type="submit") Retour à l'accueil
