extends layout

block content
  div.text-center
    h1 Sign up
    form(method='POST', action='/users/signup')
    #form-group
    label Username:
    input.form-control(name='username',type='text')
    #form-group

    label Password again:
    input.form-control(name='password2',type='password')
    br
    input.btn.btn-primary(type='submit',value='Submit')
