extends layout
block content
  div.text-center
    p Welcome Dear #{username}!
    p
      h2 CHATBOT LIST
      .container
        .row
          .col
            div(class="other")
                .image-block
                  img(src=("/images/STEEVE.png"))
            div(class="other")
              br
              form(class="form-play" method="POST" action="/users/steeve")
                - var buttonClass=['btn', 'btn-success', 'btn-block'];
                button(class=buttonClass type="submit") PARLER A STEEVE

              br

              form(class="form-play" method="POST" action="/users/modifiersteeve")
                - var buttonClass=['btn', 'btn-warning', 'btn-block'];
                button(class=buttonClass type="submit") Modifier

              br

              form(class="form-play" method="POST" action="/users/supprimersteeve")
                - var buttonClass=['btn', 'btn-danger', 'btn-block'];
                button(class=buttonClass type="submit") Supprimer
            div(class="other")


          .col
            div(class="other")
                .image-block
                  img(src=("/images/JOHN.png"))
            div(class="other")
              br
              form(class="form-play" method="POST" action="/users/martha")
                - var buttonClass=['btn', 'btn-primary', 'btn-block'];
                button(class=buttonClass type="submit") PARLER A MARTHA
              br
              form(class="form-play" method="POST" action="/users/modifiermartha")
                - var buttonClass=['btn', 'btn-warning', 'btn-block'];
                button(class=buttonClass type="submit") Modifier
              br
              form(class="form-play" method="POST" action="/users/supprimermartha")
                - var buttonClass=['btn', 'btn-danger', 'btn-block'];
                button(class=buttonClass type="submit") Supprimer
            div(class="other")


          .col
            div(class="other")
              .image-block
                img(src=("/images/CHATBOT.jpg.png"))
            div(class="other")
                br
                form(class="form-play" method="POST" action="/users/john")
                  - var buttonClass=['btn', 'btn-basic', 'btn-block','btn-disabled'];
                  button(class=buttonClass type="submit") PARLER A JOHN
                br
                form(class="form-play" method="POST" action="/users/modifierjohn")
                  - var buttonClass=['btn', 'btn-basic', 'btn-block','btn-disabled'];
                  button(class=buttonClass type="submit") Modifier
                br
                form(class="form-play" method="POST" action="/users/supprimerjohn")
                  - var buttonClass=['btn', 'btn-basic', 'btn-block','btn-disabled'];
                  button(class=buttonClass type="submit") Supprimer

            br

          form(class="form-play" method="POST" action="/users/supprimer")
          - var buttonClass=['btn', 'btn-info', 'btn-block'];
          button(class=buttonClass type="submit") Ajouter
